<div class="thumbnail" ajout-popup="" >

     <form name="formAjout"  novalidate>
        <table class="table">
        <tr>
            <th>Nom</th> <td> <input type="text" ng-model="nouvel.nom" required="" autofocus/> </td>
        </tr>
        <tr>
            <th>Prénom</th> <td> <input type="text" ng-model="nouvel.prenom" required=""/> </td>
        </tr>
        <tr>
            <th>Adresse</th> <td> <input type="text" ng-model="nouvel.adresse" required=""/> </td>
        </tr>
        <tr>
            <th colspan="2">Contacts</th>
        </tr>
        <tr>
            <td>
                <input type="email" name="mail" ng-model="nouvel.email" required="" placeholder="E-mail"/> <br/>
                <span style="color:red" ng-show="formAjout.mail.$dirty && formAjout.mail.$invalid">
                  <span ng-show="formAjout.mail.$error.email">E-mail non valide.</span>
                </span>
            </td>
            <td> <input type="number" ng-model="nouvel.tel" required="" placeholder="Téléphone"/> </td>
        </tr>
        <tr>
            <td >  <button class="btn fermer">Fermer</button> </td>
            <td align="right"> <input type="submit" class="btn valider"  ng-disabled="formAjout.$invalid" ng-click="ajouterEleve(nouvel)"/></td>
        </tr>
        </table>
    </form> 
</div>

<div class="bloquer"></div>
